<footer class="l-footer brown">
  <div class="b-footer">
    <ul class="footer-menu">
        <li><a href="/portfolio/">Портфолио</a></li>
        <li><a href="/services/">Услуги и цены</a></li>
        <li><a href="/about/">О художнике</a></li>
        <li><a href="/contacts/">Контакты</a></li>
        <li><a href="/sitemap/">Карта сайта</a></li>
    </ul>
    <p class="copyright">&copy; 2013-<span id="toDate"></span>. Artist63 - Мастерская самарского художника Надежды Зуевой</p>
      <script>toDate.textContent = new Date().getFullYear();</script>
     <div class="b-social-links">
        <h5>Я в соцсетях:</h5>
          <a class="g-icon g-icon_vk" rel="me nofollow" target="_blank" title="Я в контакте" href="http://vk.com/id126136587"></a>
          <a class="g-icon g-icon_fb" rel="me nofollow" target="_blank" title="Я в facebook" href="https://www.facebook.com/profile.php?id=100001825804011"></a>
          <a class="g-icon g-icon_gp" rel="me nofollow" target="_blank" title="Я в google+" href="https://plus.google.com/106534528859776436827"></a>
      </div>
    <!--<div class="b-footer-contact">
      <h5>Связаться со мной:</h5>
      <a class="mail" href="/contacts/">Написать письмо</a>
    </div>-->
    <!-- Yandex.Metrika informer -->
      <a class="g-hide" href="https://metrika.yandex.ru/stat/?id=26717532&amp;from=informer"
      target="_blank" rel="nofollow"><img width="88" height="31" src="//bs.yandex.ru/informer/26717532/3_0_473930FF_271910FF_1_pageviews"
      style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:26717532,lang:'ru'});return false}catch(e){}"/></a>
    <!-- /Yandex.Metrika informer -->
  </div>
</footer>
<span id="toTop"><i class="g-icon g-icon_top-arrow"></i></span>
<a rel="publisher" href="https://plus.google.com/106534528859776436827"></a>
<div  class="leaves"></div>
<script src="/js/art.js" async></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">(function (d, w, c) {(w[c] = w[c] || []).push(function(){try {w.yaCounter26717532 = new Ya.Metrika({id:26717532,clickmap:true,trackLinks:true,accurateTrackBounce:true});}catch(e){}});var n = d.getElementsByTagName("script")[0],s = d.createElement("script"),f = function () { n.parentNode.insertBefore(s, n); };s.type = "text/javascript";s.async = true;s.src = "https://mc.yandex.ru/metrika/watch.js";if (w.opera == "[object Opera]") {d.addEventListener("DOMContentLoaded", f, false);} else { f(); }})(document, window, "yandex_metrika_callbacks");</script>
<noscript><div><img src="//mc.yandex.ru/watch/26717532" style="position:absolute; left:-9999px;" alt="metric" /></div></noscript>
<!-- /Yandex.Metrika counter -->
